<!DOCTYPE html>
{% load static %}
<html>
<head>
  <link rel="stylesheet" href= "{% static 'about.css' %}">
  <ul>
    <li><a class="active" href="/home"><b>Home</b></a></li>
    <li><a href="/about"><b>About us</b></a></li>
      <li><a  href="/services"><b>Services</b></a></li>
       <li><a  href="/job"><b>Jobs</b></a></li>
       <li><a href="/applicationform"><b>Application Form</b></a></li> 
    <li><a href="/newuserregister"><b>Sign Up</b></a></li>
    <li><a href="/login"><b>Login</b></a></li>
    <li><a href="/contact"><b>Contact us</b></a></li>
    <li><a href="/signout" ><b> Signout</b></a></li>
    <li><a href="/statistics" ><b> Statistics</b></a></li>
  </ul>
</head>
<body>
<center><h1>WHAT IS HIRE IT!!!</h1>
  <body style="background-color:powderblue;">
<img src="/static/about1.jpg" width="1000" height="400"></center>
<p>
  this is our froent end website and this is about employebility consultancy system
  dhd jjdnfej hed 
</p>
<p>
  A consultancy service is dedicated to providing businesses with solutions to any business problem and strategic planning and execution for a new project or growth & expansion plans. Today, many management consultancy firms provide several services but enjoy a distinct reputation for a particular specialization. It also needs to be noted that every management consultancy follows a different methodology.
  Consultancy provides their advice to their clients in various different forms such as reports and presentations. Professional consultants offer specific knowledge or skills for addressing specific goals, tackling problems, or managing projects. 
  The main motto of our consultancy is that to help many of the clients who are willing to impore their personality in differenr ways to reach their carrier destinations and our consultancy will be easily accessed by all the people and the fee is quite comparable and less compared to others.
</p>





</body>
</html>