<!DOCTYPE html>
{% load static %}
<html>
<head>
	<link rel="stylesheet" href= "{% static 'contact.css' %}">
	<ul>
		<li><a class="active" href="/home"><b>Home</b></a></li>
		<li><a href="/about"><b>About us</b></a></li>
		  <li><a  href="/services"><b>Services</b></a></li>
		   <li><a  href="/job"><b>Jobs</b></a></li>
		   <li><a href="/applicationform"><b>Application Form</b></a></li> 
		<li><a href="/newuserregister"><b>Sign Up</b></a></li>
		<li><a href="/login"><b>Login</b></a></li>
		<li><a href="/contact"><b>Contact us</b></a></li>
		<li><a href="/signout" ><b> Signout</b></a></li>
		<li><a href="/statistics" ><b> Statistics</b></a></li>
	  </ul>
</head>
<body1>
<center><h1>CONTACT</h1>
<img src="/static/contact" width="1000" height="400"></center>
<p style="font-size:20px;">Our consultancy service is available to all the people .
  They can apporoach us in all the different ways we provided . We have our network all over the world . The clients can know more us through our social networks . Our main networks are though instagram , facebook , twitter... All our updated information about our consultancy service is available here . We also have an website which gives the details and the contact information about our consultancy service .
Clients can go through this information and contact us . we will provide the necessary information needed by them and help them to reach their goals
We also have an app through which the clients can register to our consultancy  service and their can login through their credentials given . Through that platform we can able to know the customer needs and deeds and will help them accordingly . The clients who registered in our website they can update their profile by giving the aspects like their name, contact information , near place to work,skills,strenghts and weekness and etc
By this information we will help our clients and build their skills , resume and whatever they are expecting from us .</p>
<h3 style="color:red;"><b>IN CASE OF ANY QUIRES PLEASE DO CONTACT</b></h3>
<h3>Aparna Devi-8662575678</h3>
<h3>Chaitanya-9874645347</h3>
     		</div>
	</div>
</div>
	<body style="background-color:powderblue;"></body>
<div class="block bg-variant-brand-tertiary bluex-body-copy">
	<div class="block__wrapper wrapper">
					<div class="block__header">
									<h2 class="block__title">
						REGISTERED OFFICE
					</h2>

							</div>
				<div class="block__content block__content--s body-copy">
							<p>HIRE IT<br />
Old No: 5 &amp; 5A, New No.9,<br />
Tulip Garden Road,<br />
Vaddeswaram,
								Guntur - 600 006<br />


		</div>
	</div>
</div>

  </div>

</article>


    </div>


</body1>

</html>