<!DOCTYPE html>
{% load static %}
<html>
<head>

  <link rel="stylesheet" href= "{% static 'services.css' %}">

  <ul>
    <li><a class="active" href="/home"><b>Home</b></a></li>
    <li><a href="/about"><b>About us</b></a></li>
      <li><a  href="/services"><b>Services</b></a></li>
       <li><a  href="/job"><b>Jobs</b></a></li>
       <li><a href="/applicationform"><b>Application Form</b></a></li> 
    <li><a href="/newuserregister"><b>Sign Up</b></a></li>
    <li><a href="/login"><b>Login</b></a></li>
    <li><a href="/contact"><b>Contact us</b></a></li>
    <li><a href="/signout" ><b> Signout</b></a></li>
    <li><a href="/statistics" ><b> Statistics</b></a></li>
  </ul>
</head>
<body>

<center><h1>CAREER SERVICES</h1>
    <body style="background-color:powderblue;">
<img src="/static/services1" width="1000" height="400"></center>
<p><b>We offer a wide range of customized, high-quality, research-based talent consulting services. We are uniquely well-positioned to help address your talent needs by leveraging our know-how, relationships and service capabilities built over five decades.</b></p>

<p> <b>Executive Search</b></p>


<p> <b>Senior & Middle Level Hiring</b></p>


<p> <b>Recruitment Process Outsourcing</b></p>


<p> <b>Career Transition Services</b></p>


<p> <b>Global Sourcing</b></p>


<p> <b>Market Intelligence</b></p>


<p> <b>Recruiter Training Programmes</b></p>


<p><b>Interim Management</b></p>










</body>
</html>