<!DOCTYPE html>
{% load static %}
<html>
<head>

    <link rel="stylesheet" href= "{% static 'services.css' %}">

  <ul>
    <li><a class="active" href="/home"><b>Home</b></a></li>
    <li><a href="/about"><b>About us</b></a></li>
      <li><a  href="/services"><b>Services</b></a></li>
       <li><a  href="/job"><b>Jobs</b></a></li>
       <li><a href="/applicationform"><b>Application Form</b></a></li> 
    <li><a href="/newuserregister"><b>Sign Up</b></a></li>
    <li><a href="/login"><b>Login</b></a></li>
    <li><a href="/contact"><b>Contact us</b></a></li>
    <li><a href="/signout" ><b> Signout</b></a></li>
    <li><a href="/statistics" ><b> Statistics</b></a></li>
  </ul>
</head>
<body>

<center><h1>STATISTICS</h1>
    <body style="background-color:powderblue;">
        <img src="/static/epc_statistics.png" width="1000" height="400"></center>










</body>
</html>